.Search
{
    padding: 2%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.Search-heading
{
    display: block;
    width: 91vw;
    margin-bottom: 4vh;
}
.wrong-search
{
    height: 30vh;
}
.no-results-message
{
    display: flex;
    width: 80vw;
}
.no-results-message > p 
{
    font-size: 2rem;
    padding-left: 2%;
}
.search-result-container
{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap : 4vmax;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 8vh;
}